- name: Copy keycloak.service
  ansible.builtin.copy:
    src: keycloak.service
    dest: /etc/systemd/system/keycloak.service
    mode: '0644'
    owner: root
    group: root

- name: Start/Enable Keycloak service
  ansible.builtin.systemd:
    name: keycloak
    state: started
    enabled: true
    daemon_reload: true
