[defaults]
# Search for our custom roles
roles_path = ./roles

# Disable cowsay
nocows = True

# Set default inventory file
inventory = ./hosts

[connection]
# Enable pipelining to avoid ACL issues when becoming an unprivileged user
# https://docs.ansible.com/ansible-core/2.19/playbook_guide/playbooks_privilege_escalation.html#risks-of-becoming-an-unprivileged-user
pipelining = True
