{{ ispmail_top_level_domain }}               error:User unknown in recipient table
sympa@{{ ispmail_top_level_domain }}         sympa:sympa@{{ ispmail_top_level_domain }}
listmaster@{{ ispmail_top_level_domain }}    sympa:listmaster@{{ ispmail_top_level_domain }}
bounce@{{ ispmail_top_level_domain }}        sympabounce:sympa@{{ ispmail_top_level_domain }}
abuse-feedback-report@{{ ispmail_top_level_domain }} sympabounce:sympa@{{ ispmail_top_level_domain }}
