{{ ispmail_web_server_name }}               error:User unknown in recipient table
sympa@{{ ispmail_web_server_name }}         sympa:sympa@{{ ispmail_web_server_name }}
listmaster@{{ ispmail_web_server_name }}    sympa:listmaster@{{ ispmail_web_server_name }}
bounce@{{ ispmail_web_server_name }}        sympabounce:sympa@{{ ispmail_web_server_name }}
abuse-feedback-report@{{ ispmail_web_server_name }} sympabounce:sympa@{{ ispmail_web_server_name }}
