{{ ansible_managed | comment }}
{% if ansible_parent_role_names is defined %}
# Roles: {{ ansible_parent_role_names | reverse | join(" -> ") }}
{% elif ansible_role_name is defined %}
# Role: {{ ansible_role_name }}
{% endif %}
# Rule: {{ item.key }}
{% for rule in item.value %}
{{ rule }}
{% endfor %}
