{% for rule in item.value -%}

{% if "raw_rule" in rule %}
{{ rule.raw_rule }}
{% else %}

{%- set final_rule = [] -%}

{%- set final_rule = final_rule + ["-A", rule.chain] -%}

{%- if "protocol" in rule -%}
    {%- set final_rule = final_rule + ["--protocol", rule.protocol] -%}
{%- endif -%}

{%- if "source" in rule -%}
    {%- set final_rule = final_rule + ["--source", rule.source] -%}
{%- endif -%}

{%- if "destination_port" in rule -%} {# ONLY IF THERE IS A PROTOCOL #}
    {%- set final_rule = final_rule + ["--destination-port", rule.destination_port] -%}
{%- endif -%}

{%- set final_rule = final_rule + ["--jump", rule.target] -%}

{%- if "comment" in rule -%}
    {%- set final_rule = final_rule + ["-m comment --comment", "\"" + rule.comment + "\""] -%}
{%- endif -%}

{%- if "raw_extras" in rule -%}
    {%- set final_rule = final_rule + rule.raw_extras -%}
{%- endif -%}

{{ final_rule|join(' ') }}
{% endif -%}
{%- endfor %}
