{{ ansible_managed | comment }}
{% if ansible_parent_role_names is defined %}
# Roles: {{ ansible_parent_role_names | reverse | join(" -> ") }}
{% elif ansible_role_name is defined %}
# Role: {{ ansible_role_name }}
{% endif %}
# Rule: {{ item.key }}
{% for rule in item.value -%}

{% if "raw_rule" in rule %}
{{ rule.raw_rule }}
{% else %}

{%- set final_rule = [] -%}

{%- set final_rule = final_rule + ["-A", rule.chain] -%}

{%- if "protocol" in rule -%}
    {%- set final_rule = final_rule + ["--protocol", rule.protocol] -%}
{%- endif -%}

{%- if "source" in rule -%}
    {%- set final_rule = final_rule + ["--source", rule.source] -%}
{%- endif -%}

{%- if "destination" in rule -%}
    {%- set final_rule = final_rule + ["--destination", rule.destination] -%}
{%- endif -%}

{%- if "source_ipset" in rule -%}
    {%- set final_rule = final_rule + ["--match set --set", rule.source_ipset, "src"] -%}
{%- endif -%}

{%- if "destination_ipset" in rule -%}
    {% set final_rule = final_rule + ["--match set --set", rule.destination_ipset, "dst"] %}
{%- endif -%}

{%- if "destination_port" in rule -%}
    {{ ("" if "protocol" in rule and rule.protocol.lower() in ["tcp", "udp"]) | mandatory("Destination port should be used with a valid protocol!") }}
    {%- set final_rule = final_rule + ["--destination-port", rule.destination_port] -%}
{%- endif -%}

{%- set final_rule = final_rule + ["--jump", rule.target] -%}

{%- if "comment" in rule -%}
    {%- set final_rule = final_rule + ["--match comment --comment", "\"" + rule.comment + "\""] -%}
{%- endif -%}

{%- if "raw_extras" in rule -%}
    {%- set final_rule = final_rule + rule.raw_extras -%}
{%- endif -%}

{{ final_rule|join(' ') }}
{% endif -%}
{%- endfor %}
