###############################################################################
# Paperless-ngx settings                                                      #
###############################################################################

# See http://docs.paperless-ngx.com/configuration/ for all available options.

# The UID and GID of the user used to run paperless in the container. Set this
# to your UID and GID on the host so that you have write access to the
# consumption directory.
#USERMAP_UID=1000
#USERMAP_GID=1000

# See the documentation linked above for all options. A few commonly adjusted settings
# are provided below.

# This is required if you will be exposing Paperless-ngx on a public domain
# (if doing so please consider security measures such as reverse proxy)
PAPERLESS_URL={{ hestia_paperless_url }}

# Adjust this key if you plan to make paperless available publicly. It should
# be a very long sequence of random characters. You don't need to remember it.

PAPERLESS_SECRET_KEY={{ hestia_paperless_secret_key }}

# Use this variable to set a timezone for the Paperless Docker containers. Defaults to UTC.
PAPERLESS_TIME_ZONE=Europe/Paris

# The default language to use for OCR. Set this to the language most of your
# documents are written in.
PAPERLESS_OCR_LANGUAGE=fra

# Additional languages to install for text recognition, separated by a whitespace.
# Note that this is different from PAPERLESS_OCR_LANGUAGE (default=eng), which defines
# the language used for OCR.
# The container installs English, German, Italian, Spanish and French by default.
# See https://packages.debian.org/search?keywords=tesseract-ocr-&searchon=names
# for available languages.
#PAPERLESS_OCR_LANGUAGES=tur ces

# Additional config written according to the docs https://docs.paperless-ngx.com/configuration

PAPERLESS_DBPORT={{ hestia_paperless_db_port }}
PAPERLESS_DBNAME={{ hestia_paperless_db_name }}
PAPERLESS_DBUSER={{ hestia_paperless_db_user }}
PAPERLESS_DBPASS={{ hestia_paperless_db_password }}
PAPERLESS_DB_POOLSIZE=8

# The config below automactically creates a superuser, this is not the traditionnal behavior of Paperless
# as by default you have to create it yourself using the CLI but for the purpose of automation I chose this approach.
PAPERLESS_ADMIN_USER={{hestia_paperless_superadmin_name}}
PAPERLESS_ADMIN_MAIL={{hestia_paperless_superadmin_mail}}
PAPERLESS_ADMIN_PASSWORD={{ hestia_paperless_superadmin_password }}

# SSO

#PAPERLESS_SOCIAL_ACCOUNT_SYNC_GROUPS=true
#PAPERLESS_APPS="allauth.socialaccount.providers.openid_connect"
#PAPERLESS_SOCIALACCOUNT_PROVIDERS='{"openid_connect": {"APPS": [{"provider_id": "zitadel","name": "SSO login","client_id": "{{hestia_paperless_sso_client_id}}","secret": "{{hestia_paperless_sso_client_secret}}","settings": { "server_url": "https://sso.rezoleo.fr/realms/<REALM>/.well-known/openid-configuration"}}]}}'

# Random settings

PAPERLESS_APP_TITLE={{hestia_paperless_service_name}}

###############################################################################
# Postgress settings                                                          #
###############################################################################

POSTGRES_DB={{ hestia_paperless_db_name }}
POSTGRES_USER={{ hestia_paperless_db_user }}
POSTGRES_PASSWORD={{ hestia_paperless_db_password }}