---

- name: Install firewall packages
  ansible.builtin.apt:
    package:
      - iptables
      - ipset
      - iptables-persistent
      - ipset-persistent # Even though we do not use the service we need the netfilter-persistent ipset plugin to be installed
    state: present
  become: true

- name: Create fragment folder
  ansible.builtin.file:
    path: /etc/iptables/rules.d
    state: directory
    mode: '0755'
    owner: root
    group: root
  become: true

- name: Copy all rules fragments
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /etc/iptables/rules.d/
    owner: root
    group: root
    mode: '0644'
  with_fileglob:
    - "*.iptables"
  notify: Apply firewall rules
  become: true
