# Nextcloud configuration

NEXTCLOUD_ADMIN_USER = {{ nextcloud_admin_username }}
NEXTCLOUD_ADMIN_PASSWORD = {{ nextcloud_admin_password }}
OVERWRITEPROTOCOL=https
OVERWRITEHOST= {{ nextcloud_host }}

# We trust the subnet on which is the reverse proxy, but only the reverse proxy host will be able to connect to this VM
TRUSTED_PROXIES=10.12.0.0/16
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_host }}

# Database configuration

POSTGRES_HOST = {{  nextcloud_db_host }}
POSTGRES_DB = {{  nextcloud_db_name }}
POSTGRES_USER = {{  nextcloud_db_user }}
POSTGRES_PASSWORD = {{ nextcloud_db_password }}

# REDIS

REDIS_HOST = redis://broker
REDIS_HOST_PORT = 6379

# SMTP

SMTP_HOST = {{ nextcloud_smtp_host }}
SMTP_SECURE = {{ nextcloud_smtp_secure }}
SMTP_PORT = 25
SMTP_AUTHTYPE = LOGIN
SMTP_NAME = {{ nextcloud_smtp_name }}
SMTP_PASSWORD = {{ nextcloud_smtp_password }}
MAIL_FROM_ADDRESS = {{ nextcloud_smtp_address }}
MAIL_DOMAIN = {{ nextcloud_smtp_domain }}

# Garage (object storage)

OBJECTSTORE_S3_BUCKET = {{ nextcloud_object_bucket }}
OBJECTSTORE_S3_REGION = {{ nextcloud_object_region }}
OBJECTSTORE_S3_USEPATH_STYLE = {{ nextcloud_object_usepath_style }}
OBJECTSTORE_S3_AUTOCREATE = {{ nextcloud_object_autocreate }}
OBJECTSTORE_S3_HOST = {{ nextcloud_object_host }}
OBJECTSTORE_S3_PORT = {{ nextcloud_object_port }}
OBJECTSTORE_S3_KEY = {{ nextcloud_object_key }}
OBJECTSTORE_S3_SECRET = {{ nextcloud_object_secret }}

# For S3 compatible storage, the class should be the following : https://docs.nextcloud.com/server/latest/admin_manual/configuration_files/primary_storage.html#simple-storage-service-s3
OBJECTSTORE_S3_STORAGE_CLASS=\OC\Files\ObjectStore\S3