# Database configuration

POSTGRES_HOST = {{  nextcloud_db_host }}
POSTGRES_DB = {{  nextcloud_db_name }}
POSTGRES_USER = {{  nextcloud_db_user }}
POSTGRES_PASSWORD = {{ nextcloud_db_password }}

# REDIS

REDIS_HOST = redis://broker
REDIS_HOST_PORT = 6379
REDIS_HOST_PASSWORD = {{ nextcloud_redis_password }}

# SNMP

SMTP_HOST = 
SMTP_SECURE = 
SMTP_PORT = 25
SMTP_AUTHTYPE = LOGIN
SMTP_NAME = 
SMTP_PASSWORD = 
MAIL_FROM_ADDRESS =
MAIL_DOMAIN =