driver = mysql

connect = \
host=mysql.rezoleo.fr \
dbname=mailserver \
user=mailserver \
password={{ ispmail_db_mailserver_password }}

user_query = SELECT email as user, \
concat('*:bytes=', quota) AS quota_rule, \
'/var/vmail/%d/%n' AS home, \
5000 AS uid, 5000 AS gid \
FROM virtual_users WHERE email='%u'

password_query = SELECT password FROM virtual_users WHERE email='%u'

iterate_query = SELECT email AS user FROM virtual_users
