- name: Copy Roundcube configuration
  vars:
    ispmail_roundcube_des_key: "{{ password_secrets.secret.roundcube_des_key }}"
  ansible.builtin.template:
    src: roundcube/config.inc.php.j2
    dest: /etc/roundcube/config.inc.php
    mode: '0644'
    owner: root
    group: root

- name: Copy Roundcube password plugin configuration
  vars:
    ispmail_db_mailadmin_password: "{{ password_secrets.secret.mailadmin }}"
  ansible.builtin.template:
    src: roundcube/password/config.inc.php.j2
    dest: /etc/roundcube/plugins/password/config.inc.php
    mode: '0640'
    owner: root
    group: www-data

- name: Configure Roundcube managesieve plugin
  ansible.builtin.lineinfile:
    path: /etc/roundcube/plugins/managesieve/config.inc.php
    regexp: '^\$config'
    line: "$config['managesieve_host'] = 'localhost';"
    state: present
