- name: Configure desired limits
  ansible.builtin.template:
    src: rspamd/actions.conf.j2
    dest: /etc/rspamd/local.d/actions.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Add headers to filter spam
  ansible.builtin.copy:
    src: rspamd/milter_headers.conf
    dest: /etc/rspamd/override.d/milter_headers.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Copy redis.conf
  ansible.builtin.copy:
    src: rspamd/redis.conf
    dest: /etc/rspamd/override.d/redis.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Copy classifier-bayes.conf
  ansible.builtin.template:
    src: rspamd/classifier-bayes.conf.j2
    dest: /etc/rspamd/override.d/classifier-bayes.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Copy worker-controller.inc
  vars:
    ispmail_rspamd_worker_hashed_password: "{{ secrets.secret.rspamd_password | ansible.builtin.password_hash(hashtype='bcrypt') }}"
  ansible.builtin.template:
    src: rspamd/worker-controller.inc.j2
    dest: /etc/rspamd/local.d/worker-controller.inc
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Create DKIM folder
  ansible.builtin.file:
    path: /var/lib/rspamd/dkim
    state: directory
    mode: '0755'
    owner: _rspamd
    group: _rspamd

- name: Enabling DKIM maps
  ansible.builtin.template:
    src: rspamd/dkim_signing.conf.j2
    dest: /etc/rspamd/local.d/dkim_signing.conf
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Copy dkim_selectors.map
  vars:
    ispmail_dkim_selector: "{{ secrets.secret.dkim_selector }}"
  ansible.builtin.template:
    src: rspamd/dkim_selectors.map.j2
    dest: '{{ ispmail_dkim_selectors_map_path }}'
    mode: '0644'
    owner: root
    group: root
  notify: Restart rspamd

- name: Copy DKIM private key
  vars:
    content: "{{ secrets.secret.dkim_private_key }}"
    ispmail_dkim_selector: "{{ secrets.secret.dkim_selector }}"
  ansible.builtin.template:
    src: rspamd/dkim_private_key.j2
    dest: '/var/lib/rspamd/dkim/rezoleo.fr.{{ ispmail_dkim_selector }}.key'
    mode: '0400'
    owner: _rspamd
    group: _rspamd
