- name: Copy list_aliases.tt2
  ansible.builtin.copy:
    src: sympa/list_aliases.tt2
    dest: "{{ ispmail_sympa_sysconfdir }}/list_aliases.tt2"
    mode: '0640'
    owner: sympa
    group: sympa
  notify: Restart sympa

- name: Copy sympa.conf
  vars:
    ispmail_sympa_db_password: "{{ secrets.secret.sympa }}"
  ansible.builtin.template:
    src: sympa/sympa.conf.j2
    dest: "{{ ispmail_sympa_sysconfdir }}/sympa/sympa.conf"
    mode: '0640'
    owner: sympa
    group: sympa
  notify: Restart sympa

- name: Check if Sympa DB Tables exist
  community.mysql.mysql_query:
    login_db: sympa
    login_user: sympa
    login_password: "{{ secrets.secret.sympa }}"
    login_host: "{{ ispmail_db_host }}"
    query: "SHOW TABLES LIKE 'session_table';"
  register: sympa_db_tables

- name: Create Sympa DB Tables # noqa: no-changed-when
  ansible.builtin.command:
    cmd: "sympa --health_check"
  when: sympa_db_tables.rowcount[0] == 0

- name: Copy transport.sympa
  ansible.builtin.template:
    src: sympa/transport.sympa.j2
    dest: "{{ ispmail_sympa_sysconfdir }}/transport.sympa"
    mode: '0640'
    owner: root
    group: postfix
  register: transport_result

- name: Copy virtual.sympa
  ansible.builtin.template:
    src: sympa/virtual.sympa.j2
    dest: "{{ ispmail_sympa_sysconfdir }}/virtual.sympa"
    mode: '0640'
    owner: root
    group: postfix
  register: virtual_result

- name: Create empty sympa_transport file
  ansible.builtin.file:
    path: "{{ ispmail_sympa_sysconfdir }}/sympa_transport"
    state: touch
    mode: '0640'
    owner: root
    group: postfix
    modification_time: preserve
    access_time: preserve
  register: sympa_transport_result

- name: Run postmap on sympa files immediately if changed # noqa: no-changed-when
  ansible.builtin.command:
    cmd: "postmap hash:{{ ispmail_sympa_sysconfdir }}/{{ item }}"
  become: true
  loop:
    - transport.sympa
    - virtual.sympa
    - sympa_transport
  when: transport_result.changed or virtual_result.changed or sympa_transport_result.changed
  notify:
    - Restart Postfix
    - Restart sympa

- name: Run sympa_newaliases.pl
  ansible.builtin.shell:
    cmd: "/usr/lib/sympa/bin/sympa_newaliases.pl; touch {{ ispmail_sympa_sysconfdir }}/sympa_aliases.db"
    creates: "{{ ispmail_sympa_sysconfdir }}/sympa_aliases.db"
  notify: Restart Postfix

- name: Set correct permissions on transport.sympa and virtual.sympa files
  ansible.builtin.file:
    path: "{{ ispmail_sympa_sysconfdir }}/{{ item }}"
    owner: root
    group: postfix
    mode: "0640"
  loop:
    - "transport.sympa"
    - "transport.sympa.db"
    - "virtual.sympa"
    - "virtual.sympa.db"

- name: Set correct permissions on sympa_transport file
  ansible.builtin.file:
    path: "{{ ispmail_sympa_sysconfdir }}/{{ item }}"
    owner: sympa
    group: postfix
    mode: "0640"
  loop:
    - "sympa_transport"
    - "sympa_transport.db"

- name: Create virtual domain configuration directory in $SYSCONFDIR
  ansible.builtin.file:
    path: "{{ ispmail_sympa_sysconfdir }}/{{ ispmail_top_level_domain }}"
    state: directory
    mode: '0755'
    owner: sympa
    group: sympa
  notify: Restart sympa

- name: Create virtual domain configuration directory in $EXPLDIR
  ansible.builtin.file:
    path: "{{ ispmail_sympa_expldir }}/{{ ispmail_top_level_domain }}"
    state: directory
    mode: '0750'
    owner: sympa
    group: sympa
  notify: Restart sympa

- name: Copy robot.conf file
  ansible.builtin.template:
    src: sympa/robot.conf.j2
    dest: "{{ ispmail_sympa_sysconfdir }}/{{ ispmail_top_level_domain }}/robot.conf"
    mode: '0644'
    owner: sympa
    group: sympa
  notify: Restart sympa
