---
# Creer user
# Le rajouter au groupe sudo
# Configurer le sudo sans mdp

- name: Configure Ansible user sudoer without password
  hosts: all
  # strategy: free # noqa: run-once[play] (if using strategy: free can skip it this way)
  become: true

  pre_tasks:
    - name: Retrieve SSH public key from Vault # noqa: run-once[task]
      community.hashi_vault.vault_kv2_get:
        path: test/baptiste/secrets
      register: ssh_credentials
      run_once: true
      delegate_to: localhost
      become: false

    - name: Set public key as fact # noqa: run-once[task]
      ansible.builtin.set_fact:
        ssh_public_key: "{{ ssh_credentials.secret.ansible_pub_key }}"
      run_once: true
      delegate_to: localhost
      become: false

  tasks:
    - name: Create an ansible user
      ansible.builtin.user:
        name: ansible

    - name: Set authorized key for user ansible copying it from current user
      ansible.posix.authorized_key:
        user: ansible
        state: present
        key: "{{ ssh_public_key }}"

    - name: Install sudo
      ansible.builtin.apt:
        update_cache: true
        name: sudo
        state: present

    - name: Add the ansible user to passwordless sudoers
      ansible.builtin.lineinfile:
        path: /etc/sudoers
        state: present
        line: "ansible ALL=(ALL) NOPASSWD: ALL"
        validate: /usr/sbin/visudo -cf %s
