# {{ ansible_managed }}

sysLocation    {{ server_location }}
sysContact     Rezoleo <contact@rezoleo.fr>
rouser {{ snmp_user }} authpriv

# We do not want annoying "Connection from UDP: " messages in syslog.
# If the following option is commented out, snmpd will print each incoming
# connection, which can be useful for debugging.

dontLogTCPWrappersConnects yes
