name: Lint & Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.12"
          cache: pip

      - name: Setup just
        uses: taiki-e/install-action@just

      - name: Create virtual environment and install dependencies
        run: |
          just venv
          echo "PATH=$(pwd)/.venv/bin:${PATH}" >> "${GITHUB_ENV}"
          echo "VIRTUAL_ENV=$(pwd)/.venv" >> "${GITHUB_ENV}"

      - name: Run Ansible-Lint
        continue-on-error: true # Allow uploading SARIF report if ansible-lint is not happy
        run: just lint --offline --sarif-file ansible-lint.sarif.json

      - name: Upload Ansible-Lint SARIF
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        with:
          sarif_file: ansible-lint.sarif.json
          category: ansible-lint
