name: Lint & Test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.13

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run Ruff
        run: uv run ruff check

      - name: Run Ansible-Lint
        id: ansible_lint
        continue-on-error: true # Allow uploading SARIF report if ansible-lint is not happy
        run: uv run ansible-lint --offline --sarif-file ansible-lint.sarif.json # TODO: Reuse just lint

      - name: Upload Ansible-Lint SARIF
        uses: github/codeql-action/upload-sarif@45cbd0c69e560cd9e7cd7f8c32362050c9b7ded2 # v4.32.2
        with:
          sarif_file: ansible-lint.sarif.json
          category: ansible-lint

      - name: Check if ansible_lint step has failed
        if: steps.ansible_lint.outcome == 'failure'
        run: |
          echo "::error title=Ansible-lint::Error during the ansible-lint step"
          exit 1
